{% extends 'tasks/base.html' %}

{% block content %}
  <main class="container py-5">
    <section class="card card-body">
      <h1 class=" display-1 text-center">Django App</h1>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil animi maxime porro asperiores dolorem nostrum placeat cupiditate quas, et explicabo enim aut veritatis unde nisi, voluptas, nesciunt odit consequuntur quasi!
      Ex nesciunt harum nisi ducimus iusto laudantium rem temporibus neque? Deserunt adipisci maxime quidem quam quasi, totam autem veniam eveniet labore ipsa corporis doloribus nam vero alias assumenda non laudantium.
      Modi cum voluptate laborum et nostrum ipsum dignissimos debitis ratione a ab eaque, placeat officiis veritatis tenetur! Iure, cum odio. Quis iste molestias tenetur at ullam! Repudiandae est facilis delectus.
      Dicta eius quos ea ratione ex! Placeat voluptas labore sint illo laboriosam nulla quas dolore dolor aspernatur recusandae error natus repellat provident ipsum nostrum minima veritatis facilis unde, dolorem enim.
      Amet blanditiis inventore neque obcaecati delectus, nesciunt harum nihil voluptates possimus commodi maxime vel unde? Consequuntur vitae iusto asperiores assumenda dolores, aspernatur beatae eos suscipit modi reprehenderit facilis voluptatum unde!
      Suscipit sit veritatis reiciendis numquam, perspiciatis accusamus facilis voluptatum ratione nam fugiat rem quidem praesentium optio. Harum magnam, commodi animi molestias impedit, ea sunt eligendi possimus omnis magni facilis fugit.
      Voluptas dignissimos nisi eius a alias sed deleniti molestias necessitatibus facilis? Tempore enim cumque quis earum autem eum, minus molestias omnis suscipit. Laboriosam, esse. Vel dolore inventore libero. Quisquam, quaerat?
      Aspernatur commodi maxime, officiis omnis reprehenderit alias cupiditate qui, illum quaerat cum facere quia eius consequuntur animi, voluptas saepe fugit ut repellendus blanditiis excepturi odio! Temporibus facere itaque non vero.
      Atque facilis quibusdam perspiciatis placeat dolor deleniti dolores magni quis, minima eum nihil, aspernatur est nemo reprehenderit vero adipisci id. Suscipit, dolor ad! Quo pariatur eum quae eius hic enim?
      Quisquam possimus libero distinctio? Deleniti distinctio adipisci quae voluptates sunt ipsum minus hic vitae dolores. Enim, non ipsam. Vero minima possimus consequatur eius ex optio veniam ea dolorem repellat voluptatum.
      Eveniet ipsam doloribus voluptatum repellendus adipisci officiis nulla, consequatur alias laboriosam nobis eligendi facilis earum debitis excepturi eum libero amet! Quaerat maiores quod nisi blanditiis quam deleniti ipsa odio iusto.
      Reprehenderit non, officia odio beatae consequatur rerum nemo, sed similique necessitatibus illum eveniet adipisci. Aperiam, nulla? Alias dolore soluta inventore dolores ex libero cupiditate officiis, eligendi numquam. Voluptatem, ducimus aliquid!
      Iste veritatis sequi perspiciatis beatae neque quibusdam non aperiam nobis est ut quasi voluptatum ipsa, minima dolores nesciunt laboriosam consequuntur, totam ullam inventore. Quam reprehenderit consectetur voluptatibus autem doloremque explicabo!
      Magnam harum deserunt molestias nobis ad, est non fugiat illo impedit ab totam debitis adipisci architecto facere officiis, aperiam magni perspiciatis, voluptatem ratione blanditiis! Nesciunt veritatis architecto culpa impedit nulla.
      Nostrum quam quod odit tenetur minus sit corrupti provident doloribus nihil magni modi, nulla perferendis, iste aspernatur error porro rem nobis expedita deserunt sapiente eligendi debitis et voluptates soluta. Deleniti?</p>
    </section>
  </main>

{% endblock  %}