{% extends 'tasks/base.html' %}

{% block content %}
<main class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <h1>{{task.title}}</h1>
      <p>{{task.description}}</p>

      <a href="{% url 'edit' task.id%}" class="btn btn-primary">
        Editar
      </a>

      
      <div  class="mt-5 d-flex">
        
        <form action="{% url 'complete' task.id %}" method="POST">
          {% csrf_token %}
  
          <button class="btn btn-primary">
           Completada
          </button>
        </form>
  
        <form action="{% url 'delete' task.id %}" method="POST">
          {% csrf_token %}
  
          <button class="btn btn-danger">
          Borrar
          </button>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock  %}